$color-white: rgb(98%, 98%, 98%);;
$color-black-text:rgb(28, 28, 28);
$color-gray-light:#F9F9F9;
$color-gray-dark:rgb(41,41,40);
$color-secondary: rgb(89%, 76%, 58%);
$color-brown:rgb(168,148,120);
$color-brown-light:rgb(229,223,214);
$color-red:#B00;

$shadow:0 0px 4px rgba(0,0,0);

$container-width-desk:1240px;
$section-padding-top: 64px;
$section-padding-bottom:32px;

