$color-white: rgb(98%, 98%, 98%);;
$color-black-text:rgb(28, 28, 28);
$color-gray-dark:rgb(41,41,40);
$color-secondary: rgb(89%, 76%, 58%);

$shadow:0 0px 4px rgba(0,0,0);

$container-width-desk:1240px;
$section-padding-top: 64px;
$section-padding-bottom:120px;

