.header{
  max-width: $container-width-desk;
  margin: auto;
  padding-bottom: 0.5rem;
  display: grid;
  grid-template-columns: 12rem auto 40px;
  justify-items: end;
  align-items: center;
  gap:3rem; 
  position: relative;
  z-index: 2;

  &__contacts{
    display: flex;
    align-items: center;
  }

  &__tel{
    a{      
      font-size: 1.25rem;
      display: flex;
      align-items: center;
      svg{
        margin-right: 12px;
      }
    }
  }

  &__adress{
    font-size: 1.125rem;
    margin-left: 3rem;
    display: flex;
    align-items: center;
    svg{
      margin-right: 12px;
    }
  }
}