include ../components/burger-menu.pug
include ../components/logotype.pug

mixin header()
  header.header
    +logotype(true)
    .header__contacts
      .header__tel      
        <a href="tel:+79999990277"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M7.58281 2.29358C7.90697 2.252 8.23581 2.3181 8.51873 2.48171C8.80038 2.64459 9.02097 2.89514 9.14689 3.19505L11.0285 7.5856C11.0288 7.58622 11.0291 7.58685 11.0294 7.58748C11.1268 7.81262 11.1675 8.05823 11.1479 8.30277C11.1283 8.54801 11.0487 8.78465 10.916 8.99185L10.9111 8.99956L9.34841 11.3763C10.0458 12.8147 11.209 13.9751 12.6491 14.669L12.6521 14.667L14.9941 13.1026C15.2019 12.9622 15.4418 12.8766 15.6915 12.8536C15.9413 12.8306 16.1927 12.871 16.4227 12.971C16.4237 12.9714 16.4246 12.9718 16.4255 12.9722L20.8053 14.8533C21.1051 14.9792 21.3555 15.1997 21.5183 15.4813C21.6819 15.7642 21.748 16.093 21.7064 16.4172C21.5442 17.6835 20.9261 18.8472 19.9678 19.6908C19.0096 20.5343 17.7768 20.9997 16.5002 21C12.9197 21 9.4858 19.5777 6.95406 17.0459C4.42232 14.5142 3 11.0804 3 7.5C3.00029 6.22337 3.46573 4.99042 4.30925 4.03216C5.15271 3.07396 6.31663 2.45587 7.58281 2.29358ZM8.67187 11.7L7.99535 12.0238C7.88459 11.7923 7.83505 11.5363 7.85147 11.2803C7.86788 11.0242 7.9497 10.7767 8.0891 10.5613L8.09205 10.5567L9.65268 8.18309L9.65126 8.17982L7.76689 3.78294C6.86505 3.90017 6.03617 4.34051 5.43518 5.02326C4.8327 5.70769 4.50025 6.58818 4.5 7.5M8.67187 11.7L7.99685 12.0269C8.84248 13.7732 10.2545 15.1816 12.003 16.0227L12.0072 16.0247C12.2426 16.1362 12.503 16.1844 12.7627 16.1647C13.0217 16.145 13.2712 16.0584 13.4867 15.9133C13.4873 15.913 13.4879 15.9126 13.4884 15.9122L15.8291 14.3487L20.2165 16.2329L20.2177 16.2334C20.1005 17.1352 19.6595 17.9638 18.9767 18.5648C18.2923 19.1673 17.4118 19.4998 16.5 19.5M4.5 7.5C4.50004 10.6825 5.76432 13.7349 8.01472 15.9853C10.2651 18.2357 13.3175 19.5 16.5 19.5" fill="white"/>
        </svg> +7 999 999 02 77</a>
      .header__adress.mobile-hidden
        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.0002 1.83333C9.05524 1.83333 7.18998 2.60595 5.81471 3.98122C4.43945 5.35648 3.66683 7.22175 3.66683 9.16667C3.66683 12.0066 5.51459 14.7622 7.54062 16.9008C8.53489 17.9503 9.53227 18.8095 10.2821 19.4066C10.5612 19.6288 10.8049 19.8139 11.0002 19.9582C11.1954 19.8139 11.4391 19.6288 11.7182 19.4066C12.4681 18.8095 13.4654 17.9503 14.4597 16.9008C16.4857 14.7622 18.3335 12.0066 18.3335 9.16667C18.3335 7.22175 17.5609 5.35648 16.1856 3.98122C14.8103 2.60595 12.9451 1.83333 11.0002 1.83333ZM11.0002 21.0833C10.4917 21.846 10.4915 21.8459 10.4912 21.8457L10.4886 21.844L10.4825 21.8399L10.4615 21.8257C10.4436 21.8135 10.4181 21.7961 10.3856 21.7736C10.3205 21.7285 10.2269 21.6628 10.109 21.5776C9.87316 21.4073 9.53933 21.1587 9.14008 20.8408C8.34305 20.2061 7.27794 19.2893 6.20971 18.1617C4.11074 15.9461 1.8335 12.7434 1.8335 9.16667C1.8335 6.73552 2.79927 4.40394 4.51835 2.68485C6.23743 0.965771 8.56901 0 11.0002 0C13.4313 0 15.7629 0.965771 17.482 2.68485C19.2011 4.40394 20.1668 6.73552 20.1668 9.16667C20.1668 12.7434 17.8896 15.9461 15.7906 18.1617C14.7224 19.2893 13.6573 20.2061 12.8602 20.8408C12.461 21.1587 12.1272 21.4073 11.8914 21.5776C11.7734 21.6628 11.6798 21.7285 11.6147 21.7736C11.5822 21.7961 11.5567 21.8135 11.5389 21.8257L11.5179 21.8399L11.5118 21.844L11.5098 21.8453C11.5096 21.8454 11.5086 21.846 11.0002 21.0833ZM11.0002 21.0833L11.5086 21.846C11.2007 22.0513 10.7991 22.051 10.4912 21.8457L11.0002 21.0833Z" fill="white"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.0002 7.33333C9.98764 7.33333 9.16683 8.15414 9.16683 9.16667C9.16683 10.1792 9.98764 11 11.0002 11C12.0127 11 12.8335 10.1792 12.8335 9.16667C12.8335 8.15414 12.0127 7.33333 11.0002 7.33333ZM7.3335 9.16667C7.3335 7.14162 8.97512 5.5 11.0002 5.5C13.0252 5.5 14.6668 7.14162 14.6668 9.16667C14.6668 11.1917 13.0252 12.8333 11.0002 12.8333C8.97512 12.8333 7.3335 11.1917 7.3335 9.16667Z" fill="white"/>
        </svg>
        p г. Москва, ул. 2-я Пугачевская 3 к1
    +burger([{text:"Услуги и цены", src:"#price"},
             {text:"Примеры работ", src:"#works"},
             {text:"Видео из мастерской", src:"#video"},
             {text:"Контакты", src:"#contacts"}])

