section.contacts#contacts
  .page-container.page-container_contacts
    h2 Адрес часовой мастерской
    .contacts__content
      address
        .contacts__address
          .contacts__block
            .contacts__subtitle 
              p Адрес:
            .contacts__info
              p г. Москва ул.&nbsp;2-я Пугачевская&nbsp;3к1.<br>Универсам «Вишенка», цокольный этаж, справа. 
              p Станция метро Преображенская площадь.  
          .contacts__block
            .contacts__subtitle 
              p Телефон:
            .contacts__info
              a(href="tel:+79999990277") +7 999 999 02 77
          .contacts__delivery
            .contacts__subtitle.contacts__subtitle_delivery
              p Как отправить часы к нам на ремонт,<br> если у вас нет возможности приехать лично?
            .contacts__info
              ol
                li По Москве можете воспользоваться услугами Яндекса или ТК СДЕК.
                li Из других городов можно отправить часы через ТК СДЕК или Почтой России.
      .contacts__map
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Acfbff27c9907d22d1eac85e1680c51deaea399296e0fc0c0a6589f41d21883b2&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>

