include ../components/logotype.pug

footer.footer
  .page-container.page-container_footer    
    .footer__copyright
      a(href="https://github.com/Nuttik") NR&nbsp;
      span &copy; 2023
    +logotype(true)