include ../components/carousel.pug

section.our-works#works
  +carousel("our-works", "assets/images/galleries/works/", ".jpg", 12, 3)
  .our-works__text
    h2 Принципы работы:
    ul
      li Ремонтируем по регламенту<br> фабрик-производителей.
      li Работаем на высокоточном<br> европейском оборудовании.
      li Используем оригинальные запчасти.
      li Даем гарантию.