section.our-video
  .page-container.page-container_our-video
    h2 Видео из мастерской
    p Вы сможете посмотреть, как будут ремонтировать ваши часы в реальном времени.<br>Мы транслируем процесс ремонта для заказчика.
    .our-video__list
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/LS624OBOuCY?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen loading="lazy"></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/ukHPF-vNm7g?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen loading="lazy"></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/IXuCcf-bIW8?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen loading="lazy"></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/YzNEnzFh8sw?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen loading="lazy"></iframe>