section.our-video#video
  .page-container.page-container_our-video
    h2 Видео из мастерской
    p Вы сможете посмотреть, как будут ремонтировать ваши часы в реальном времени.<br>Мы транслируем процесс ремонта для заказчика.
    .our-video__list-wrapper
      .our-video__list
        div.youtube#YzNEnzFh8sw(data-params="modestbranding=1&showinfo=0&rel=0&start=0" )
        div.youtube#ukHPF-vNm7g(data-params="modestbranding=1&showinfo=0&rel=0&start=0" )
        div.youtube#IXuCcf-bIW8(data-params="modestbranding=1&showinfo=0&rel=0&start=0" )
        div.youtube#YzNEnzFh8sw(data-params="modestbranding=1&showinfo=0&rel=0&start=0" )