.our-video{
  background: linear-gradient(180deg, #FFF 23.44%, rgba(217, 217, 217, 0.00) 92.19%), url(/assets/images/bg/video.jpg) no-repeat bottom center;
  &__list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem 5rem;
    justify-content: space-between;
    justify-items: stretch;
    width: 100%;
    margin: 3rem auto;
    iframe {
      border: 10px solid #fff;
      border-radius: 3px;
      width: 100%;
    }
  }
}